.brand:active, .brand:hover, .brand:focus {
    color: #9d9d9d !important; // To override the events given from NavBar brand from react-bootstrap
}

.content {
    padding-top: 2.5em;
    text-align: justify;
}

.navContainer {
    padding: 0 !important; // To override padding in navbar that forces header and toggle towards the center
}

footer {
    text-align: center;
    margin-top: -20px;
    padding-bottom: 10px;
}
