/**
 * Created by danielhollcraft on 10/18/16.
 */

@media screen and (min-width: 401px) {
  .profile {
    float: left;
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .profile {
    display: block;
    margin: auto;
    padding: 0 10%;
  }
}